@import "../../mixins/mixins.scss";
#menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  // width: 0%;
  // transition: width .3s ease;
  background-color: white;
  display: none;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: auto;
  @include portrait {
    width: 85%;
  }
  @include mobile {
    width: 85%;
  }
}
// .menu-open {
//   width: 50% !important;
//   transition: width .4s .3s ease !important;
// }
.menuItems {
  display: grid;
  padding: 150px 0 0 6.5vw;
    @include mobile {
      padding: 100px 0 0 6.5vw;
    }
  // & p {
  //   margin-bottom: 10px;
  //   font-size: 1.3vw;
  //   line-height: 2.3vw;
  //     @include portrait {
  //       font-size: 24px;
  //       line-height: 2.375rem;
  //       margin-bottom: 15px;
  //     }
  //     @include mobile {
  //       font-size: 18px;
  //       line-height: 26px;
  //     }
  // }
  & img {
  position: absolute;
  bottom: 75px;
  left: 6.5vw;
  display: block;
  width:5.5vw;
  @include portrait {
    left: 6.75vw;
    bottom: 70px;
    width: 13vw;
  }
  @include mobile {
    bottom: 7vh;
    width: 75px;
    // center logo
      // left:38.4vw;
      // margin-left: -10vw;
  }
}
  &:hover > li {
    opacity: .3;
  }
  & li {
    pointer-events: auto;
  }
  & li:hover {
    opacity: 1;
  }
}
.menuProject {
  padding: 0;
  & li {
    display: block;
    transition: opacity .3s ease;
    cursor: pointer;
  }
  &:hover > li {
    opacity: .3;
  }
  & li:hover {
    opacity: 1;
  }
}
.menuOverlay {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.2);
  z-index: 2;
}
.menuBackground {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  pointer-events: none;
  z-index: -1;
  transition: all .3s ease;
  @include mobile {
    width: 85%;
  }
  @include portrait {
    width: 85%;
  }
  @include touch {
    transition: all 0s ease;
  }
}

#progressBar div {
  transition: top .2s ease-in-out !important;

}
.hide-progress-bar {
  top: -0.5vh !important;
}
