@import "../../Mixins.scss";


.footer {
  padding: 100px 0 15vh 0;
  grid-column: var(--gridSection-SM);
  @include mobile {
   padding: 0px 0 15vh 0;
  }
}
.results {
  padding-bottom: 100px;
  display: flex;
}
.credits {
  display: flex;
  width: 100%;
}
.footer .column {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.credits p {
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: rgba(0, 0, 0, 0.6);
  width: 50%;
}
.credits b {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  padding-right: 10px;
}
.footer .row {
  padding-bottom: 30px;
  width: 100%;
}
.footer .row b {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 6.25rem;
  line-height: 6rem;
}
.footer .award{
   width: 45%;
   &:nth-child(odd) {
     padding: 0 5% 10% 0;
   }
   &:nth-child(even) {
     padding: 0 0 10% 5%;
   }
   img {
     width: 100%;
   }
 }

/*
____ _  _ ____ ____ _ ____ ____
|  | |  | |___ |__/ | |___ [__
|_\| |__| |___ |  \ | |___ ___]
*/
@media only screen and (max-width: 1600px) {
  .footer .column:nth-child(1) {
    width: 40%;
  }
  .footer .column:nth-child(2) {
    width: 60%;
  }
  .row b {
    font-size: 8vw;
  }
}
@media only screen and (max-width: 1112px) {
  :root {
    --gridSection-SM: 4 / 13;
    --gridSection-MD: 3 / 14;
  }
  #menu {
    width: 300px;
  }
  #grid a {
    grid-column: 5/12;
  }
  .footer {
    padding-top: 0;
  }
  .footer .row b {
    line-height: 80px;
  }
}
@media only screen and (max-width: 480px) {
    // footer
    .credits {
      // padding-bottom: 200px;
      // display: block;
      // & :nth-child(2) {
      //   width: 100%;
      // }
      & p {
        width: 50%;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 25px;
        text-align: left;
        float: right;
        & b {
          text-align: left;
          float: left;
        }
      }
      & h1 {
        padding-bottom: 15px;
      }
    }
    .results {
      display: block;
      & h1 {
        padding-bottom: 15px;
      }
      & .column:nth-child(2) {
        width: 100%;
      }
      & .row {
        display: flex;
        padding-bottom: 25px;
        & b{
          line-height: 43px;
          font-size: 43px;
          width: 50%;
          text-align: left;
        }
        & p {
          font-size: 16px;
          line-height: 20px;
          width: 45%;
          margin-right: 5%;
        }
      }
    }
}
