@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500");
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:800&display=swap');
@import url("https://use.typekit.net/ays2qyv.css");
@import 'mixins/mixins.scss';
/*
___  ____ ____  _ ____ ____ ___    ____ ____ _    ____ ____ ____
|__] |__/ |  |  | |___ |     |     |    |  | |    |  | |__/ [__
|    |  \ |__| _| |___ |___  |     |___ |__| |___ |__| |  \ ___]
*/
:root {
/* 2020 */
  --mothersday: #DB5973;
/* 2019 */
  --rexyrace: #9BC4B6;
  --mbj: #EA872C;
  --signature: #CDA479;
/* 2018 */
  --lifecoach: #FEBD28;
  --scenestealers: #6291A3;
  --isetan: #F0AFA7;
/* 2017 */
  --newyorkdrive: #FF00FF;
  --rainbowhockey: #F5E500;
}
/* 2020 */
.mothersday:hover ~ .menuBackground,
#nextBtn.mothersday, #prevBtn.mothersday,
h1.mothersday,
span.mothersday{
  background-color: var(--mothersday);
}
/* 2019 */
.rexyrace::selection,
.rexyrace:hover ~ .menuBackground,
#nextBtn.rexyrace, #prevBtn.rexyrace,
h1.rexyrace,
span.rexyrace {
  background-color: var(--rexyrace);
}
.mbj:hover ~ .menuBackground,
#nextBtn.mbj, #prevBtn.mbj,
h1.mbj,
span.mbj {
  background-color: var(--mbj);
}
.signature:hover ~ .menuBackground,
#nextBtn.signature, #prevBtn.signature,
h1.signature,
span.signature {
  background-color: var(--signature);
}
.isetan:hover ~ .menuBackground,
#nextBtn.isetan, #prevBtn.isetan,
h1.isetan,
span.isetan {
  background-color: var(--isetan);
}
/* 2018 */
.lifecoach:hover ~ .menuBackground,
#nextBtn.lifecoach, #prevBtn.lifecoach,
h1.lifecoach,
span.lifecoach{
  background-color: var(--lifecoach);
}
.scenestealers:hover ~ .menuBackground,
#nextBtn.scenestealers, #prevBtn.scenestealers,
h1.scenestealers,
span.scenestealers {
  background-color: var(--scenestealers);
}
/* 2017 */
.newyorkdrive:hover ~ .menuBackground,
#nextBtn.newyorkdrive, #prevBtn.newyorkdrive,
h1.newyorkdrive,
span.newyorkdrive {
  background-color: var(--newyorkdrive);
  background-image: linear-gradient(0deg, #7069FF 0%, #FF00FF 100%);
}
.rainbowhockey:hover ~ .menuBackground,
#nextBtn.rainbowhockey, #prevBtn.rainbowhockey,
h1.rainbowhockey,
span.rainbowhockey {
  background-color: var(--rainbowhockey);
  background-image: linear-gradient(45deg, #FFE300 0%, #00FF62 32%, #00BBFF 60%, #FF00FF 100%);
}




/*
____ _    ____ ___  ____ _
| __ |    |  | |__] |__| |
|__] |___ |__| |__] |  | |___
*/

*, html, body {
  margin: 0;
  overscroll-behavior: none;
}
body {
  cursor: auto !important;
}
h1, p, a, li {
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: rgba(0,0,0,1);
  font-weight: 400;
  margin: 0;
}
h1, a {
  font-size: 1.5rem;
  line-height: 2.75rem;
  margin: 0;
  @include mobile {
    font-size: 18px;
    line-height: 30px;
  }
}
p {
  font-size: 1.375rem;
  line-height: 2.375rem;
  color: rgba(0,0,0,.8);
  @include mobile {
    font-size: 16px;
    line-height: 26px;
  }
}
a {
  text-align: center;
  color: rgba(0,0,0,.8);
  & span { // underline
    border-bottom: 2px solid rgba(0,0,0,.5);
    padding-bottom: 3px;
    transition: all .3s ease;
  }
  & span:hover {
    border-color: rgba(0,0,0,.25);
    color: rgba(0,0,0,.5);
    transition: all .3s ease;
  }
}
li {
    font-size: 3vw;
    line-height: 4vw;
    width: 50vw;
    text-align: left;
    list-style: none;
    padding: 0px 0;
    @include portrait {
      font-size: 6.5vw;
      line-height: 8.5vw;
      width: 85vw;
    }
    @include mobile {
      font-size: 28px;
      line-height: 40px;
      width: 100vw
    }
  }

:root {
  --projectColor: #fff;
  --nextProjectColor: #fff;
  --padding: 80px;
  --gridSection-SM: 5 / 12;
  --gridSection-MD: 4 / 13;
  --gridSection-LG: 1 / 16;
  @media only screen and (max-width: 1112px) {
      --gridSection-SM: 4 / 13;
      --gridSection-MD: 3 / 14;
  }
  @include mobile {
      --padding: 40px;
      --gridSection-SM: 3 / 14;
  }
}



.heroDesktop, .screenDesktop {
   display: block;
   @include portrait {
     display: none;
   }
   @include mobile {
     display: none;
   }
 }
.heroMobile, .screenMobile {
 display: none;
 @include portrait {
   display: block;
 }
 @include mobile {
   display: block;
 }
}

#AR #screenMask {
  margin-top: -2.5vh;
}
#AR #device, #AR #screenMask {
  @include landscape {
    opacity: 1 !important;
    visibility: visible !important;
  }
}
#AR #screenMask {
  @include landscape {
    height: 0;
  }
}
#AR #screen {
  @include portrait {
    top: 3%;
  }
}


#home #backgroundColor {
  display: none;
}
#home #introCopy {
  opacity: 1 !important;
  visibility: visible !important;
}
// #home {
//   position: fixed;
// }
 #project {
  z-index: 2;
}
#homeWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%,-50%);
  z-index: 2;
}


#cursor-outline {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
    transition: opacity 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 1) !important;
    mix-blend-mode: difference;
}

canvas {
  background-color: white;
  overflow: hidden;
  position: fixed;
}
#fixed {
  position: fixed;
}
#scroll {
  overflow-y: scroll;
  max-height: 100vh;
  .footer {
    margin-bottom: 5%;
  }
}

.mobileOnly {
  display: none;
  @include portrait {
    display: block;
  }
}
