@import 'Mixins.scss';

// fonts
@font-face {
  font-family: 'Gt Eesti Display Bold';
  src: url(/fonts/GT-Eesti-Pro-Display-Bold.woff2);
}


/*
___  ____ ____  _ ____ ____ ___    ____ ____ _    ____ ____ ____
|__] |__/ |  |  | |___ |     |     |    |  | |    |  | |__/ [__
|    |  \ |__| _| |___ |___  |     |___ |__| |___ |__| |  \ ___]
*/
:root {
/* 2019 */
  --RexyRace: #9BC4B6;
  --LifeCoach: #FEBD28;
  --MBJ: #E05927;
/* 2018 */
  --SceneStealers: #6291A3;
/* 2017 */
  --Arcade: #FF00FF;
}

#nextBtn.lifecoach, #prevBtn.lifecoach,
.lifecoach:hover ~ .menuBackground,
h2.lifecoach,
span.lifecoach{
  background-color: var(--LifeCoach);
}
#nextBtn.rexyrace, #prevBtn.rexyrace,
.rexyrace:hover ~ .menuBackground,
h2.rexyrace,
span.rexyrace {
  background-color: var(--RexyRace);
}
#nextBtn.mbj, #prevBtn.mbj,
.mbj:hover ~ .menuBackground,
h2.mbj,
span.mbj {
  background-color: var(--MBJ);
}
/* 2018 */
#nextBtn.scenestealers, #prevBtn.scenestealers,
.scenestealers:hover ~ .menuBackground,
h2.scenestealers,
span.scenestealers {
  background-color: var(--SceneStealers);
}
/* 2017 */
#nextBtn.arcade, #prevBtn.arcade,
.arcade:hover ~ .menuBackground,
h2.arcade,
span.arcade {
  background-color: var(--Arcade);
  background-image: linear-gradient(0deg, #7069FF 0%, #FF00FF 100%);
}




/*
____ _    ____ ___  ____ _
| __ |    |  | |__] |__| |
|__] |___ |__| |__] |  | |___
*/
*, html, body {
  margin: 0;
}

@font-face {
  font-family: 'eksell';
  src: url(/fonts/eksell.woff2);
  // src: url(/fonts/HugeGothic-Bold.woff);
}
h1, h2, li {
  font-family: "eksell";
  color: rgba(0,0,0,1);
  font-weight: normal;
  text-decoration: none;
  margin: 0;
}
  h1 {
    text-align: center;
    font-size: 8vw;
    line-height: 7.5vw;
    @include mobile {
      font-size: 50px;
      line-height: 48px;
    }
  }
  h2{
    font-size: 2rem;
    line-height: 2.6rem;
    margin: 0;
    @include mobile {
      font-size: 28px;
      line-height: 30px;
    }
  }
  li {
    font-size: 3.5vw;
    line-height: 3vw;
    width: 50vw;
    text-align: left;
    list-style: none;
    padding: 15px 0;
    @include portrait {
      font-size: 7.5vw;
      line-height: 6.5vw;
      width: 85vw;
    }
    @include mobile {
      font-size: 34px;
      line-height: 24px;
      width: 100vw
    }
  }

@font-face {
  font-family: 'Gt Eesti Display Light';
  src: url(/fonts/GT-Eesti-Pro-Display-Light.woff2);
}
h3, a, p {
  font-family: "Gt Eesti Display Light", sans-serif;
  color: rgba(0,0,0,.95);
  font-weight: normal;
  text-decoration: none;
  margin: 0;
}
  h3, a {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin: 0;
    @include mobile {
      font-size: 18px;
      line-height: 30px;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: rgba(0,0,0,.75);
    @include mobile {
      font-size: 16px;
      line-height: 26px;
    }
  }
  a {
    text-align: center;
    color: rgba(0,0,0,.8);
    & span { // underline
      border-bottom: 2px solid rgba(0,0,0,.5);
      padding-bottom: 3px;
      transition: all .3s ease;
    }
    & span:hover {
      border-color: rgba(0,0,0,.25);
      color: rgba(0,0,0,.5);
      transition: all .3s ease;
    }
  }


:root {
  --projectColor: #fff;
  --nextProjectColor: #fff;
  --padding: 80px;
  --gridSection-SM: 5 / 12;
  --gridSection-MD: 4 / 13;
  --gridSection-LG: 1 / 16;
}



.heroDesktop {
  display: block;
  @include portrait {
    display: none;
  }
  @include mobile {
    display: none;
  }
}
.heroMobile {
  display: none;
  @include portrait {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

/*
____ ____ ____ _  _ _    ___ ____
|__/ |___ [__  |  | |     |  [__
|  \ |___ ___] |__| |___  |  ___]
*/
.footer {
  padding: 100px 0 15vh 0;
  grid-column: var(--gridSection-SM);
  @include mobile {
    padding: 0px 0 15vh 0;
  }
}
.credits, .results {
  padding-bottom: 100px;
  display: flex;
}
.footer .column {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.credits p {
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: rgba(0, 0, 0, 0.6);
  width: 50%;
}
.credits b {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  padding-right: 10px;
}
.footer .row {
  padding-bottom: 30px;
  width: 100%;
}
.footer .row b {
  font-family: "Gt Eesti Display Bold", sans-serif;
  font-size: 6.25rem;
  line-height: 6rem;
  letter-spacing: -2px;
}
.footer .award{
  width: 45%;
  &:nth-child(odd) {
    padding: 0 5% 10% 0;
  }
  &:nth-child(even) {
    padding: 0 0 10% 5%;
  }
  img {
    width: 100%;
  }
}

/*
____ _  _ ____ ____ _ ____ ____
|  | |  | |___ |__/ | |___ [__
|_\| |__| |___ |  \ | |___ ___]
*/
@media only screen and (max-width: 1600px) {
  .footer .column:nth-child(1) {
    width: 40%;
  }
  .footer .column:nth-child(2) {
    width: 60%;
  }
  .row b {
    font-size: 8vw;
  }
}
@media only screen and (max-width: 1112px) {
  :root {
    --gridSection-SM: 4 / 13;
    --gridSection-MD: 3 / 14;
  }
  #menu {
    width: 300px;
  }
  #grid a {
    grid-column: 5/12;
  }
  .footer {
    // padding: 0px 0;
  }
  .footer .row b {
    line-height: 80px;
  }
}
@media only screen and (max-width: 480px) {
    // footer
    .column h2 {
      margin-bottom: 30px;
    }
    .credits {
      padding-bottom: 200px;
      display: block;
      & .column:nth-child(2) {
        width: 100%;
      }
      & p {
        width: 50%;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 25px;
        text-align: left;
        float: right;
        & b {
          text-align: left;
          float: left;
        }
      }
      & h1 {
        padding-bottom: 15px;
      }
    }
    .results {
      display: block;
      & h1 {
        padding-bottom: 15px;
      }
      & .column:nth-child(2) {
        width: 100%;
      }
      & .row {
        display: flex;
        padding-bottom: 25px;
        & b{
          line-height: 43px;
          font-size: 43px;
          width: 50%;
          text-align: left;
        }
        & p {
          font-size: 16px;
          line-height: 20px;
          width: 45%;
          margin-right: 5%;
        }
      }

    }

}
