@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500");
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:800&display=swap');
@import 'Mixins.scss';
/*
___  ____ ____  _ ____ ____ ___    ____ ____ _    ____ ____ ____
|__] |__/ |  |  | |___ |     |     |    |  | |    |  | |__/ [__
|    |  \ |__| _| |___ |___  |     |___ |__| |___ |__| |  \ ___]
*/
:root {
/* 2019 */
  --RexyRace: #9BC4B6;
  --LifeCoach: #FEBD28;
  --MBJ: #E05927;
  --Signature: #CDA479;
/* 2018 */
  --SceneStealers: #6291A3;
  --Isetan: #F0AFA7;
/* 2017 */
  --NewYorkDrive: #FF00FF;
  --RainbowHockey: #00FF62;
}

.lifecoach:hover ~ .menuBackground,
#nextBtn.lifecoach, #prevBtn.lifecoach,
h1.lifecoach,
span.lifecoach{
  background-color: var(--LifeCoach);
}
.rexyrace:hover ~ .menuBackground,
#nextBtn.rexyrace, #prevBtn.rexyrace,
h1.rexyrace,
span.rexyrace {
  background-color: var(--RexyRace);
}
.mbj:hover ~ .menuBackground,
#nextBtn.mbj, #prevBtn.mbj,
h1.mbj,
span.mbj {
  background-color: var(--MBJ);
}
.signature:hover ~ .menuBackground,
#nextBtn.signature, #prevBtn.signature,
h1.signature,
span.signature {
  background-color: var(--Signature);
}
.isetan:hover ~ .menuBackground,
#nextBtn.isetan, #prevBtn.isetan,
h1.isetan,
span.isetan {
  background-color: var(--Isetan);
}
/* 2018 */
.scenestealers:hover ~ .menuBackground,
#nextBtn.scenestealers, #prevBtn.scenestealers,
h1.scenestealers,
span.scenestealers {
  background-color: var(--SceneStealers);
}
/* 2017 */
.newyorkdrive:hover ~ .menuBackground,
#nextBtn.newyorkdrive, #prevBtn.newyorkdrive,
h1.newyorkdrive,
span.newyorkdrive {
  background-color: var(--NewYorkDrive);
  background-image: linear-gradient(0deg, #7069FF 0%, #FF00FF 100%);
}
.rainbowhockey:hover ~ .menuBackground,
#nextBtn.rainbowhockey, #prevBtn.rainbowhockey,
h1.rainbowhockey,
span.rainbowhockey {
  background-color: var(--RainbowHockey);
  // background-image: radial-gradient(0% 2%, #00BBFF 0%, #00FF62 35%, #FFE300 66%, #FF00FF 100%);
  background-image: linear-gradient(45deg, #FFE300 0%, #00FF62 32%, #00BBFF 60%, #FF00FF 100%);
}




/*
____ _    ____ ___  ____ _
| __ |    |  | |__] |__| |
|__] |___ |__| |__] |  | |___
*/
*, html, body {
  margin: 0;
}
h1, p, a, li {
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: rgba(0,0,0,1);
  font-weight: 400;
  margin: 0;
}
h1, a {
  font-size: 1.5rem;
  line-height: 2.75rem;
  margin: 0;
  @include mobile {
    font-size: 18px;
    line-height: 30px;
  }
}
p {
  font-size: 1.375rem;
  line-height: 2.375rem;
  color: rgba(0,0,0,.8);
  @include mobile {
    font-size: 16px;
    line-height: 26px;
  }
}
a {
  text-align: center;
  color: rgba(0,0,0,.8);
  & span { // underline
    border-bottom: 2px solid rgba(0,0,0,.5);
    padding-bottom: 3px;
    transition: all .3s ease;
  }
  & span:hover {
    border-color: rgba(0,0,0,.25);
    color: rgba(0,0,0,.5);
    transition: all .3s ease;
  }
}
li {
    font-size: 3vw;
    line-height: 4vw;
    width: 50vw;
    text-align: left;
    list-style: none;
    padding: 0px 0;
    @include portrait {
      font-size: 6.5vw;
      line-height: 8.5vw;
      width: 85vw;
    }
    @include mobile {
      font-size: 28px;
      line-height: 40px;
      width: 100vw
    }
  }

:root {
  --projectColor: #fff;
  --nextProjectColor: #fff;
  --padding: 80px;
  --gridSection-SM: 5 / 12;
  --gridSection-MD: 4 / 13;
  --gridSection-LG: 1 / 16;
  @media only screen and (max-width: 1112px) {
      --gridSection-SM: 4 / 13;
      --gridSection-MD: 3 / 14;
  }
  @include mobile {
      --padding: 40px;
      --gridSection-SM: 3 / 14;
  }
}



.heroDesktop, .screenDesktop {
   display: block;
   @include portrait {
     display: none;
   }
   @include mobile {
     display: none;
   }
 }
.heroMobile, .screenMobile {
 display: none;
 @include portrait {
   display: block;
 }
 @include mobile {
   display: block;
 }
}
